<div class="centrar">
    <div class="Principal">
        <div class="Contenedor-Text">
            <div class="Titulo-icon">
                <img src="../../../../assets/Icons/pets (1).png" alt="xxx">
                <h1>Consulta general y especializada</h1>
            </div>
            <div class="Imagen">
                <img src="../../../../assets/ServiciosIMG/Consulta.jpg" alt="xxx">
            </div>
            <p>La clínica veterinaria Aquavet ofrece atención de consulta general de 9 am a 7 pm de lunes a sábados y días festivos de 9:00 am a 6:00 pm por profesionales altamente calificados y capacitados para liderar cualquier eventualidad que afecte la condición de las mascotas y así garantizar un servicio de calidad y bienestar.
        </div>
        <div class="card">
            <div class="card-inicio"></div>
            <div class="card-content">
              <h2>Cardiología</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-inicio"></div>
            <div class="card-content">
              <h2>Dermatologia</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-inicio"></div>
            <div class="card-content">
              <h2>Etología</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-inicio"></div>
            <div class="card-content">
              <h2>Neugrorología</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-inicio"></div>
            <div class="card-content">
              <h2>Oftalmología</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-inicio"></div>
            <div class="card-content">
              <h2>Oncología</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-inicio"></div>
            <div class="card-content">
              <h2>Ortopedia</h2>
            </div>
        </div>
          

</div>
