<div class="fondo">
  <div class="root">
    <router-outlet></router-outlet>

  </div>
  <div class="hex-menu"> <!--Segundo contenedor-->
    <div class="hexagon">
      <div class="hexagon-inner">
        <div class="border">
          <h2>Servicios</h2>
        </div>
        <div class="servicios">
          <ul>
            <li>
              <img src="../../../assets/Icons/track.png" alt="Patita">
              <a routerLink="/About/Cirugia">Cirugías</a>
            </li>
            <li>
              <img src="../../../assets/Icons/track.png" alt="Patita">
              <a routerLink="/About/Consulta">Consulta general y especializada</a>
            </li>
            <li>
              <img src="../../../assets/Icons/track.png" alt="Patita">
              <a routerLink="/About/Otros">Prótesis, Órtesis, Silla de Ruedas y Rehabilitación</a>
            </li>
            <li>
              <img src="../../../assets/Icons/track.png" alt="Patita">
              <a routerLink="/About/Imaginologia">Imagenología</a>
            </li>
            <li>
              <img src="../../../assets/Icons/track.png" alt="Patita">
              <a routerLink="/About/Laboratorio">Laboratorio</a>
            </li>
            <li>
              <img src="../../../assets/Icons/track.png" alt="Patita">
              <a href="#">Microchip de identificación</a>
            </li>
            <li>
              <img src="../../../assets/Icons/track.png" alt="Patita">
              <a routerLink="/About/Odontologia">Odontología</a>
            </li>
            <li>
              <img src="../../../assets/Icons/track.png" alt="Patita">
              <a href="#">Peluquería</a>
            </li>
            <li>
              <img src="../../../assets/Icons/track.png" alt="Patita">
              <a href="#">Vacunación y desparasitación</a>
            </li>
          </ul>
        </div>
        <div class="customer-service">
          <div class="border2">
            <h3>Atención al cliente</h3>
          </div>
          <p>Responderemos tus inquietudes lo más pronto posible</p>
          <form>
            <input type="text" placeholder="Nombre" />
            <input type="text" placeholder="Teléfono" />
            <input type="email" placeholder="Mail" />
            <textarea placeholder="Mensaje"></textarea>
            <div class="end">
              <button type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
