<div class="centrar">
    <div class="Principal">
        <div class="Contenedor-Text">
            <div class="Titulo-icon">
                <img src="../../../../assets/Icons/pets (1).png" alt="xxx">
                <h1>Otros servicios</h1>
            </div>
            <div class="Imagen">
                <img src="../../../../assets/ServiciosIMG/Utilidades.jpg" alt="xxx">
            </div>
            <p>La clínica veterinaria Aquavet ofrece las siguientes atenciones para su mascota, contamos con una gran diversidad de servicios.</p>
        </div>
        <div class="List_Card">
            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../.-./../assets/VISION.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Cirugía general de tejidos blandos</p>
                </div>
            </div>
            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/ServiciosIMG/RUEDAS.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Sila de ruedas para mascotas a medidas</p>
                </div>
            </div>
            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/ServiciosIMG/ODONTOLOGIA.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Odontología</p>
                </div>
            </div>
            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/ServiciosIMG/OFTALMOLOGIA.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Oftalmologiá</p>
                </div>
            </div>
            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/ServiciosIMG/ORTOPEDIA.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Ortopedia</p>
                </div>
            </div>
            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/ServiciosIMG/ENDOSCOPIA.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Procedimientos Endoscópicos</p>
                </div>
            </div>
            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/ServiciosIMG/TORAX CARDIOLOGIA.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Torax y Cardiología</p>
                </div>
            </div>
        </div>
    </div>
</div>
