<div class="centrar">
    <div class="Principal">
        <div class="Contenedor-Text">
            <div class="Titulo-icon">
                <img src="../../../../assets/Icons/pets (1).png" alt="xxx">
                <h1>Cirugías</h1>
            </div>
            <div class="Imagen">
                <img src="../../../../assets/funciones-veterinarios.jpg" alt="xxx">
            </div>
            <p>La clínica veterinaria AQUAVET ofrece atención en una especialidad médica dedicada a corregir o a evitar las deformidades o los traumas del sistema músculo esquelético de cada mascota, por medio de cirugía ortopédica, aparatos como ortesis y/o ejercicios corporales.</p>
            <p>Aparte del talento profesional se cuenta con equipos y diagnósticos acordes para tratamientos efectivos como radiografías, citologías, biopsias, y los que se requieran para cada caso. La clínica AQUAVET cuenta con el personal y la casuística para realizar todas las cirugías ortopédicas requeridas en el medio, luego de establecer un diagnóstico correcto y oportuno.</p>
        </div>
        <div class="Card-Cirugias">
            <div class="Cards">
                <p-card header="Cirugia" [style]="{ width: '260px', height: '230px'  }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="../../../../assets/VISION.jpg" />
                    </ng-template>
                </p-card>
            </div>
            <div class="Cards">
                <p-card header="Oftalmologia" [style]="{ width: '260px', height: '230px' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="../../../../assets/VISION.jpg" />
                    </ng-template>
                </p-card>
            </div>
            <div class="Cards">
                <p-card header="Odontologia" [style]="{ width: '260px', height: '230px' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="../../../../assets/VISION.jpg" />
                    </ng-template>
                </p-card>
            </div>
            <div class="Cards">
                <p-card header="Oftalmologia" [style]="{ width: '260px', height: '230px' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="../../../../assets/VISION.jpg" />
                    </ng-template>
                </p-card>
            </div>
          
        </div>
    </div>
</div>
