<div class="container">
    <div class="card flex">
        <div class="contenedor_imagen">
            <img class="imagen" src="../../../assets/Mision.jpg" alt="xxxx" />
        </div>
        <p-divider layout="vertical" />
        <div class="Texto">
            <h1>Misión</h1>
            <p>
                En [Nombre de la Veterinaria], nuestra misión es brindar una atención veterinaria integral y compasiva que asegure la salud y el bienestar de todas las mascotas. Nos comprometemos a ofrecer servicios médicos y quirúrgicos de alta calidad, utilizando tecnología avanzada y las mejores prácticas veterinarias. Creemos firmemente en la educación continua de los dueños de mascotas, proporcionándoles el conocimiento necesario para cuidar adecuadamente a sus animales. Además, fomentamos un ambiente cálido y acogedor en nuestra clínica para que tanto las mascotas como sus dueños se sientan cómodos y seguros. Nos esforzamos por ser un pilar en la comunidad, participando activamente en iniciativas locales y programas de adopción para mejorar la calidad de vida de todos los animales.
            </p>
        </div>
    </div>
    <div class="card flex">
        <div class="contenedor_imagen">
            <img class="imagen" src="../../../assets/VISION.jpg" alt="xxxx" />
        </div>
        <p-divider layout="vertical" />
        <div class="Texto">
            <h1>Visión</h1>
            <p>
                Nuestra visión es ser la clínica veterinaria líder y más confiable de la comunidad, conocida por nuestro compromiso inquebrantable con la excelencia en la atención animal. Aspiramos a innovar continuamente en tratamientos y servicios, adoptando las últimas tecnologías y metodologías en el campo veterinario. Queremos ser reconocidos no solo por la calidad de nuestra atención médica, sino también por nuestra dedicación a la educación y formación continua de nuestro equipo y de los dueños de mascotas. Buscamos crear un impacto positivo en la comunidad, promoviendo la salud y el bienestar de los animales a través de una medicina preventiva efectiva y programas de sensibilización y responsabilidad social.
            </p>
        </div>
    </div>
    <div class="card flex">
        <div class="contenedor_imagen">
            <img class="imagen" src="../../../assets/Objetivos.jpg" alt="xxxx" />
        </div>
        <p-divider layout="vertical" />
        <div class="Texto">
            <h1>Objetivos</h1>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi. Provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </p>
            <ul>
                <li>Proveer servicios veterinarios de alta calidad y tecnología avanzada.</li>
                <li>Fomentar la educación de los dueños de mascotas con programas educativos y recursos informativos.</li>
                <li>Crear un ambiente acogedor y seguro en nuestra clínica.</li>
                <li>Innovar continuamente en técnicas y tratamientos veterinarios.</li>
                <li>Promover la medicina preventiva a través de programas de vacunación y chequeos regulares.</li>
                <li>Fomentar la responsabilidad social y participar en iniciativas comunitarias y programas de adopción.</li>
            </ul>
        </div>
    </div>
</div>
