<div class="centrar">
    <div class="Principal">
        <div class="Contenedor-Text">
            <div class="Titulo-icon">
                <img src="../../../../assets/Icons/pets (1).png" alt="xxx">
                <h1>Laboratorio</h1>
            </div>
            <div class="Imagen">
                <img src="../../../../assets/Laboratorio/laboratori.jpg" alt="xxx">
            </div>
            <p>
                En la clínica veterinaria Aquavet, nuestro laboratorio está equipado con tecnología avanzada para ofrecer diagnósticos precisos y rápidos. Realizamos una variedad de pruebas, incluyendo hematología, bioquímica, microbiología y más, para asegurar la salud y bienestar de su mascota. Contamos con un equipo de profesionales altamente capacitados para interpretar los resultados y brindar el mejor tratamiento posible.
            </p>
        </div>
        <div class="List_Card">
            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../.-./.././../../assets/Laboratorio/hematologia.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Hematologia</p>
                </div>
            </div>

            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/Laboratorio/perfiles.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Perfiles</p>
                </div>
            </div>

            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/Laboratorio/Urinaria.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Química Urinaria y Líquidos</p>
                </div>
            </div>

            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/Laboratorio/Bioquimica.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Bioquimica</p>
                </div>
            </div>

            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/Laboratorio/inmunologia.jpeg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Inmunologia</p>
                </div>
            </div>

            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/Laboratorio/Micrologia-Dermatologia.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Microbiología-Dermatología</p>
                </div>
            </div>

            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/Laboratorio/biotecnologia-veterinaria-consumibles-productos-nanotecnologia-nanoparticulas-hormonas-1.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Biología Molecular</p>
                </div>
            </div>

            <div class="Card">
                <div class="Content_img">
                    <img src="../../../../assets/Logos/Logo_Vet.png" class="image-front" alt="Front Image">
                    <img src="../../../../assets/Laboratorio/parasitos.jpg" class="image-back" alt="Back Image">
                </div>
                <div class="Content-Text">
                    <p>Parasitología</p>
                </div>
            </div>

      

           
        </div>
    </div>
</div>
