<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-links">
                <h4>Veterinaria</h4>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Nuestros servicios</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Afíliate</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Registro</a></li>
                    <li><a href="#">Agenda tu cita</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Tienda</h4>
                <ul>
                    <li><a href="#">Envíos y devoluciones</a></li>
                    <li><a href="#">Métodos de pago</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Síguenos</h4>
                <div class="social-links">
                    <a href="#"><i class="pi pi-facebook"></i></a>
                    <a href="#"><i class="pi pi-instagram"></i></a>
                    <a href="#"><i class="pi pi-twitter"></i></a>
                    <a href="#"><i class="pi pi-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-row">
            <div class="footer-disclaimer">
                <p>&copy; 2024 Tu Veterinaria. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
