<app-menu></app-menu>
<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-5 p-4 text-center md:text-left flex align-items-center custom-background" >
        <section >
            <span class="block text-4xl font-bold mb-1">Presentacion</span>
            <div class="text-4xl text-primary font-bold mb-3">¡Bienvenido a Veterinaria Nombre!</div>
            <div class="text-4xl text-primary font-bold mb-3">Conocenos un poco mas</div>

            <button pButton pRipple label="Mision" type="button" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="Vision" type="button" class="p-button-outlined"></button>
        </section>
    </div>
    <div class="col-12 md:col-7 overflow-hidden custom-background"  style="max-height: 600px;">
        <img src="../../../assets/Verinario_About.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%); max-width: auto; height: auto;">
    </div>
</div>
<app-menu-servicio></app-menu-servicio>

<app-footer></app-footer>
